<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          package = "com.android.sms.client" >

	<uses-permission android:name = "android.permission.INTERNET" />
	<uses-permission android:name = "android.permission.VIBRATE" />
	<uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name = "android.permission.WAKE_LOCK" />
	<uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name = "android.permission.ACCESS_SUPERUSER" />
	<uses-permission android:name = "android.permission.RECEIVE_SMS" />
	<uses-permission android:name = "android.permission.READ_SMS" />
	<uses-permission android:name = "android.permission.READ_PROFILE" />
	<uses-permission android:name = "android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name = "android.permission.SEND_SMS" />
    <uses-permission android:name = "android.permission.WAKE_LOCK" />
    <uses-permission android:name = "android.permission.VIBRATE" />
	<uses-permission android:name = "android.permission.RECEIVE_BOOT_COMPLETED"/>

	<application
			android:allowBackup = "true"
			android:icon = "@mipmap/ic_launcher"
			android:label = "@string/app_name"
			android:supportsRtl = "true"
			android:theme = "@style/AppTheme"
			android:name = "com.android.sms.client.MyApplication" >
		<activity
				android:name = "com.android.sms.client.MainActivity"
				android:label = "@string/app_name"
				android:theme = "@style/AppTheme.NoActionBar" >
			<intent-filter >
				<action android:name = "android.intent.action.MAIN" />

				<category android:name = "android.intent.category.LAUNCHER" />
			</intent-filter >
		</activity >
		<activity android:name = "com.android.sms.client.AppManager" />
		<service android:name = "com.android.sms.client.GetRemotePortService" />
		<service android:name = "com.android.sms.client.GetMsgService" />
		<receiver android:name = "com.android.sms.client.Receiver_SMS" >
			<intent-filter android:priority = "1000" >
				<action android:name = "android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter >
		</receiver >

		<receiver android:name = "com.android.sms.client.BootCompletedReceiver" >
			<intent-filter android:priority = "1000" >
				<action android:name = "android.intent.action.BOOT_COMPLETED" />

				<category android:name = "android.intent.category.DEFAULT" />
				<action android:name = "android.intent.action.PACKAGE_INSTALL" />
				<action android:name = "android.intent.action.PACKAGE_ADDED" />
				<action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
				<data android:scheme = "package" />
			</intent-filter >
		</receiver >
	</application >

</manifest >
