<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          package = "com.android.sms.proxy"
          android:installLocation = "internalOnly" >


	<uses-permission android:name = "android.permission.GET_ACCOUNTS" />
	<uses-permission android:name = "android.permission.INTERNET" />
	<uses-permission android:name = "android.permission.READ_PHONE_STATE" />
	<uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name = "android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name = "android.permission.RECEIVE_SMS" />
	<uses-permission android:name = "android.permission.READ_SMS" />
	<uses-permission android:name = "android.permission.READ_PROFILE" />
	<uses-permission android:name = "android.permission.WRITE_SMS" />
	<uses-permission android:name = "android.permission.SEND_SMS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name = "android.permission.WAKE_LOCK" />
	<uses-permission android:name = "android.permission.VIBRATE" />
	<uses-permission android:name = "android.permission.RECEIVE_BOOT_COMPLETED" />


	<application
			android:name = ".ui.AppInstance"
			android:allowBackup = "true"
			android:icon = "@mipmap/ic_launcher"
			android:label = "@string/app_name"
			android:theme = "@style/AppTheme" >
		<activity
				android:name = ".ui.MainActivity"
				android:label = "@string/app_name"
				>
			<intent-filter >
				<action android:name = "android.intent.action.MAIN" />
				<category android:name = "android.intent.category.LAUNCHER" />
				<!--<data android:host="MainActivity" android:scheme="com.android.sms.proxy"/>-->
			</intent-filter >
			<intent-filter >
				<action android:name = "com.android.sms.proxy" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >

		<!--<service-->
		<!--android:name = "org.connectbot.service.TerminalManager"-->
		<!--android:process = ":process1" />-->
		<!--<service android:name = ".service.ProxyService"-->
		<!--android:process = ":process1" />-->
		<!--<service android:name = ".service.HeartBeatService" android:process = ":process1" >-->
		<!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
		<!--&lt;!&ndash;<action android:name = "com.android.sms.proxy"/>&ndash;&gt;-->
		<!--&lt;!&ndash;<category android:name = "android.intent.category.DEFAULT"/>&ndash;&gt;-->
		<!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
		<!--</service>-->
		<!--<receiver android:name = ".service.HeartBeatReceiver" android:process = ":process1" />-->
		<!--<service android:name = ".service.HeartAssistService" android:process = ":process2" />-->
		<!--<receiver android:name = ".service.HeartAssistReceiver" android:process = ":process2" />-->

		<service android:name = "org.connectbot.service.TerminalManager" />
		<service android:name = ".service.ProxyService" />
		<service android:name = ".service.HeartBeatService" />
		<provider android:authorities = "com.android.sms.proxy.user" android:name = ".entity.UserContentProvider" />

		<receiver android:name = ".service.Receiver_SMS" >
			<intent-filter android:priority = "1000" >
				<action android:name = "android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter >
		</receiver >
		<receiver android:name = ".service.BootCompletedReceiver" >
			<intent-filter android:priority = "1000" >
				<action android:name = "android.intent.action.BOOT_COMPLETED" />

				<category android:name = "android.intent.category.DEFAULT" />
				<action android:name = "android.intent.action.PACKAGE_INSTALL" />
				<action android:name = "android.intent.action.PACKAGE_ADDED" />
				<action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
				<data android:scheme = "package" />
			</intent-filter >
		</receiver >
	</application >

</manifest >
